{% extends 'base_index.html' %}
{% block con %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="{% url 'goods:list' 1 1 1 %}" class="fruit">新鲜水果</a></li>
                    <li><a href="{% url 'goods:list' 2 1 1 %}" class="seafood">海鲜水产</a></li>
                    <li><a href="{% url 'goods:list' 3 1 1 %}" class="meet">猪牛羊肉</a></li>
                    <li><a href="{% url 'goods:list' 4 1 1 %}" class="egg">禽类蛋品</a></li>
                    <li><a href="{% url 'goods:list' 5 1 1 %}" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="{% url 'goods:list' 6 1 1 %}" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        {% if name|default:'' != '' %}
            <span>></span>
            <a href="#">{{ name }}</a>
        {% endif %}
    </div>
    {% block content %}

    {% endblock %}
    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for good in news %}
                        <li>
                            <a href="{{ good.id }}"><img src="/media/{{ good.gpic }}"></a>
                            <h4><a href="{{ good.id }}">{{ good.gtitle }}</a></h4>
                            <div class="prize">￥{{ good.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% block detail %}

        {% endblock %}
    </div>
{% endblock %}

